<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhj.mapper.AnnouncementMapper">
  <resultMap id="BaseResultMap" type="cn.hhj.pojo.Announcement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tittle" jdbcType="VARCHAR" property="tittle" />
  </resultMap>

  <insert id="add" parameterType="cn.hhj.pojo.Announcement">
    INSERT INTO announcement(
      tittle,
      text
    )VALUE(
      #{tittle},
      #{text}
    )
  </insert>

  <delete id="deleteById" parameterType="cn.hhj.pojo.Announcement">
    DELETE
    FROM announcement
    WHERE id = #{id}
  </delete>

  <update id="update" parameterType="cn.hhj.pojo.Announcement">
    UPDATE announcement SET
      tittle = #{tittle},
      text = #{text}
    WHERE id = #{id}
  </update>

  <select id="quire" resultType="cn.hhj.pojo.Announcement">
    SELECT *
    FROM announcement
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="tittle != null">
        and tittle = #{tittle}
      </if>
      <if test="text != null">
        and text = #{text}
      </if>
    </where>
  </select>
</mapper>