<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhj.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="cn.hhj.pojo.Course">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="hour" jdbcType="INTEGER" property="hour" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
  </resultMap>

  <insert id="add" parameterType="cn.hhj.pojo.Course">
    INSERT INTO course(
      name,
      hour,
      type,
      introduce
    )VALUE(
      #{name},
      #{hour},
      #{type},
      #{introduce}
    )
  </insert>

  <delete id="deleteById" parameterType="cn.hhj.pojo.Course">
    DELETE
    FROM course
    WHERE id = #{id}
  </delete>

  <update id="update" parameterType="cn.hhj.pojo.Course">
    UPDATE course
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="hour != null">
        hour = #{hour},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="introduce != null">
        introduce = #{introduce}
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <select id="quire" resultType="cn.hhj.pojo.Course">
    SELECT *
    FROM course
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="name != null">
        and name = #{name}
      </if>
      <if test="hour != null">
        and hour = #{hour}
      </if>
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="introduce != null">
        and introduce = #{introduce}
      </if>
    </where>
  </select>

</mapper>