<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhj.mapper.GradeMapper">

    <resultMap id="BaseResultMap" type="cn.hhj.pojo.Grade">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="grade" jdbcType="INTEGER" property="grade" />
        <result column="students_info_id" jdbcType="INTEGER" property="students_info_id" />
        <result column="teachers_course_id" jdbcType="INTEGER" property="teachers_course_id" />
    </resultMap>
    
    <resultMap id="GradeStudentsTeacherCourseMap" type="cn.hhj.po.GradeStudentsTeacherCoursePo" extends="BaseResultMap">
        <association property="course" javaType="cn.hhj.pojo.Course">
            <id column="course_id" javaType="INTEGER" property="id"/>
            <result column="course_name" property="name"/>
        </association>

        <association property="teachersInfo" javaType="cn.hhj.pojo.TeachersInfo">
            <id column="teachersInfo_id" javaType="INTEGER" property="id"/>
            <result column="teachersInfo_name" property="name"/>
        </association>

    </resultMap>

    <insert id="add" parameterType="cn.hhj.pojo.Grade">
    INSERT INTO grade(
      grade,
      students_info_id,
      teachers_course_id
    )VALUE(
      #{grade},
      #{students_info_id},
      #{teachers_course_id}
    )
  </insert>

    <delete id="deleteById" parameterType="cn.hhj.pojo.Grade">
    DELETE
    FROM grade
    WHERE id = #{id}
  </delete>

    <update id="update" parameterType="cn.hhj.pojo.Grade">
    UPDATE grade
    <set>
        <if test="grade != null">
            grade = #{grade}
        </if>
        <if test="students_info_id != null">
            students_info_id = #{students_info_id}
        </if>
        <if test="teachers_course_id != null">
            teachers_course_id = #{teachers_course_id}
        </if>
    </set>
    WHERE id = #{id}
  </update>

    <select id="quire" resultType="cn.hhj.pojo.Grade">
        SELECT *
        FROM grade
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="grade != null">
                and grade = #{grade}
            </if>
            <if test="students_info_id != null">
                and students_info_id = #{students_info_id}
            </if>
            <if test="teachers_course_id != null">
                and teachers_course_id = #{teachers_course_id}
            </if>
        </where>
    </select>

    <select id="jointQuire" resultMap="GradeStudentsTeacherCourseMap">
        SELECT grade.id,grade,students_info_id,teachers_course_id,
        course.id AS course_id,course.name AS course_name,
        teachers_info.id AS teachers_info_id,teachers_info.name AS teachers_info_name
        FROM grade,course,teachers_course,teachers_info
        <where>
            <if test="grade.id != null">
                id = #{grade.id}
            </if>
            <if test="grade.grade != null">
                and grade = #{grade.grade}
            </if>
            <if test="grade.students_info_id != null">
                and students_info_id = #{grade.students_info_id}
            </if>
            <if test="grade.teachers_course_id != null">
                and teachers_course_id = #{grade.teachers_course_id}
            </if>
            AND grade.teachers_course_id = teachers_course.id
            AND teachers_course.course_id = course.id
            AND teachers_course.teachers_info_id = teachers_info.id
            <if test="teachersCourse.years != null">
              AND teachers_course.years = #{teachersCourse.years}
            </if>
            <if test="teachersCourse.semester != null">
              AND teachers_course.semester = #{teachersCourse.semester}
            </if>
        </where>
    </select>

</mapper>