<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhj.mapper.StudentsInfoMapper">
  <resultMap id="BaseResultMap" type="cn.hhj.pojo.StudentsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="student_number" jdbcType="VARCHAR" property="student_number" />
    <result column="class_id" jdbcType="INTEGER" property="class_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="birthplace" jdbcType="VARCHAR" property="birthplace" />
    <result column="id_number" jdbcType="VARCHAR" property="id_number" />
  </resultMap>
  
  <sql id="StudentsInfoColumn">
      students_info.id AS "id",
      students_info.name AS "name",
      students_info.student_number AS "student_number",
      students_info.class_id AS "class_id",
      students_info.user_id AS "user_id",
      students_info.sex AS "sex",
      students_info.phone AS "phone",
      students_info.birthplace AS "birthplace",
      students_info.id_number AS id_number
  </sql>

  <resultMap id="StudentClassDepartmentMap" type="cn.hhj.po.StudentClassDepartmentPo" extends="BaseResultMap">
    <association property="aClass" javaType="cn.hhj.pojo.Class">
      <id column="class_id" property="id"/>
      <result column="class_name" property="name"/>
    </association>
    <association property="department" javaType="cn.hhj.pojo.Department">
      <id column="department_id" property="id"/>
      <result column="department_name" property="name"/>
    </association>
  </resultMap>
  
  <insert id="add" parameterType="cn.hhj.pojo.StudentsInfo">
    INSERT INTO students_info(
      name,
      student_number,
      class_id,
      user_id,
      sex,
      phone,
      birthplace,
      id_number
    )VALUE(
      #{name},
      #{student_number},
      #{class_id},
      #{user_id},
      #{sex},
      #{phone},
      #{birthplace},
      #{id_number}
    )
  </insert>

  <delete id="deleteById" parameterType="cn.hhj.pojo.StudentsInfo">
    DELETE
    FROM students_info
    WHERE id = #{id}
  </delete>

  <update id="update" parameterType="cn.hhj.pojo.StudentsInfo">
    UPDATE students_info SET
      name = #{name},
      student_number = #{student_number},
      class_id = #{class_id},
      user_id = #{user_id},
      sex = #{sex},
      phone = #{phone},
      birthplace = #{birthplace},
      id_number = #{id_number}
    WHERE id = #{id}
  </update>

  <select id="quire" resultType="cn.hhj.pojo.StudentsInfo">
    SELECT
      *
    FROM students_info
    <where>
      <if test="id != null">
        students_info.id = #{id}
      </if>
      <if test="name != null">
        and name = #{name}
      </if>
      <if test="student_number != null">
        and student_number = #{student_number}
      </if>
      <if test="class_id != null">
        and class_id = #{class_id}
      </if>
      <if test="user_id != null">
        and user_id = #{user_id}
      </if>
      <if test="sex != null">
        and sex = #{sex}
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
      <if test="birthplace != null">
        and birthplace = #{birthplace}
      </if>
      <if test="id_number != null">
        and id_number = #{id_number}
      </if>
    </where>
  </select>

  <select id="jointQuire" resultMap="StudentClassDepartmentMap">
    SELECT
      <include refid="StudentsInfoColumn"/>,class.name AS class_name,department.name AS department_name
    FROM students_info,class,department
    <where>
      <if test="id != null">
        students_info.id = #{id}
      </if>
      <if test="name != null">
        and name = #{name}
      </if>
      <if test="student_number != null">
        and student_number = #{student_number}
      </if>
      <if test="class_id != null">
        and class_id = #{class_id}
      </if>
      <if test="user_id != null">
        and user_id = #{user_id}
      </if>
      <if test="sex != null">
        and sex = #{sex}
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
      <if test="birthplace != null">
        and birthplace = #{birthplace}
      </if>
      <if test="id_number != null">
        and id_number = #{id_number}
      </if>
      AND students_info.class_id = class.id
      AND class.department_id = department.id
    </where>
  </select>

</mapper>