<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhj.mapper.TeachersCourseMapper">
  <resultMap id="BaseResultMap" type="cn.hhj.pojo.TeachersCourse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teachers_info_id" jdbcType="INTEGER" property="teachers_info_id" />
    <result column="course_id" jdbcType="INTEGER" property="course_id" />
    <result column="years" jdbcType="VARCHAR" property="years" />
    <result column="semester" jdbcType="INTEGER" property="semester" />
    <result column="class_id" jdbcType="INTEGER" property="class_id" />
    <result column="classroom" jdbcType="VARCHAR" property="classroom" />
    <result column="class_time" jdbcType="VARCHAR" property="class_time" />
    <result column="students_number" jdbcType="INTEGER" property="students_number" />
    <result column="max_number" jdbcType="INTEGER" property="max_number" />
    <result column="week" jdbcType="VARCHAR" property="week" />
  </resultMap>

  <insert id="add" parameterType="cn.hhj.pojo.TeachersCourse">
    INSERT INTO teachers_course(
      teachers_info_id,
      course_id,
      years,
      semester,
      class_id,
      classroom,
      class_time,
      students_number,
      max_number,
      week
    )VALUE(
      #{teachers_info_id},
      #{course_id},
      #{years},
      #{semester},
      #{class_id},
      #{classroom},
      #{class_time},
      #{students_number},
      #{max_number},
      #{week}
    )
  </insert>

  <delete id="deleteById" parameterType="cn.hhj.pojo.TeachersCourse">
    DELETE
    FROM teachers_course
    WHERE id = #{id}
  </delete>

  <update id="update" parameterType="cn.hhj.pojo.TeachersCourse">
    UPDATE teachers_course
    <set>
      <if test="teachers_info_id != null">
        teachers_info_id = #{teachers_info_id},
      </if>
      <if test="course_id != null">
        course_id = #{course_id},
      </if>
      <if test="years != null">
        years = #{years},
      </if>
      <if test="semester != null">
        semester = #{semester},
      </if>
      <if test="class_id != null">
        class_id = #{class_id},
      </if>
      <if test="classroom != null">
        classroom = #{classroom},
      </if>
      <if test="class_time != null">
        class_time = #{class_time},
      </if>
      <if test="students_number != null">
        students_number = #{students_number}
      </if>
      <if test="max_number != null">
        max_number = #{max_number}
      </if>
      <if test="week != null">
        week = #{week}
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <select id="quire" resultType="cn.hhj.pojo.TeachersCourse">
    SELECT *
    FROM teachers_course
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="teachers_info_id != null">
        and teachers_info_id = #{teachers_info_id}
      </if>
      <if test="course_id != null">
        and course_id = #{course_id}
      </if>
      <if test="years != null">
        and years = #{years}
      </if>
      <if test="semester != null">
        and semester = #{semester}
      </if>
      <if test="class_id != null">
        and class_id = #{class_id}
      </if>
      <if test="classroom != null">
        and classroom = #{classroom}
      </if>
      <if test="class_time != null">
        and class_time = #{class_time}
      </if>
      <if test="students_number != null">
        and students_number = #{students_number}
      </if>
      <if test="max_number != null">
        and max_number = #{max_number}
      </if>
      <if test="week != null">
        and week = #{week}
      </if>
    </where>
  </select>

</mapper>