<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhj.mapper.TeachersInfoMapper">
  <resultMap id="BaseResultMap" type="cn.hhj.pojo.TeachersInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="department_id" jdbcType="INTEGER" property="department_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="teacher_number" jdbcType="VARCHAR" property="teacher_number" />
  </resultMap>

  <insert id="add" parameterType="cn.hhj.pojo.TeachersInfo">
    INSERT INTO teachers_info(
      name,
      department_id,
      user_id,
      sex,
      phone,
      teacher_number
    )VALUE(
      #{name},
      #{department_id},
      #{user_id},
      #{sex},
      #{phone},
      #{teacher_number}
    )
  </insert>

  <delete id="deleteById" parameterType="cn.hhj.pojo.TeachersInfo">
    DELETE
    FROM teachers_info
    WHERE id = #{id}
  </delete>

  <update id="update" parameterType="cn.hhj.pojo.TeachersInfo">
    UPDATE teachers_info
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="department_id != null">
        department_id = #{department_id},
      </if>
      <if test="sex != null">
        sex = #{sex},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="teacher_number != null">
        teacher_number = #{teacher_number}
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <select id="quire" resultType="cn.hhj.pojo.TeachersInfo">
    SELECT *
    FROM teachers_info
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="name != null">
        and name = #{name}
      </if>
      <if test="department_id != null">
        and department_id = #{department_id}
      </if>
      <if test="user_id != null">
        and user_id = #{user_id}
      </if>
      <if test="sex != null">
        and sex = #{sex}
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
      <if test="teacher_number != null">
        and teacher_number = #{teacher_number}
      </if>
    </where>
  </select>

</mapper>